$white: #ffffff;
$white1: #e4e4e4;
$white2: #d4d4d4;

$gray: #929292;
$gray1: #cccccc;

$black: #333333;

$blue: #467ead;
$blue1: #325979;

$shadow: 3px 3px 25px rgba(0, 0, 0, 0.55);

$overlay: rgba(0, 0, 0, 0.55);