@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-input-password::-ms-reveal,
.custom-input-password::-ms-clear {
  display: none;
}

.custom-scroll::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  scroll-margin-right: 10px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #555;
}